name: sq

on:
  workflow_dispatch:
  schedule:
     - cron: '10 5,11 * * *'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: npm install
        run: |
          npm install
          npm install cron
      - name: '运行 【书旗小说】'
        run: |
          node Task/sqxs.js
